h2.titleText {
    margin-bottom: 10px;
}

p.titleDesc {
    margin-bottom: 10px;
    text-align: center;
}

.wrapPassword {
    display: flex;
    width: 100%;
    position: relative;
    /*margin-bottom: 20px;*/

    .iconEye {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 0;
        padding: 0 5px;
        height: calc(100% - 20px);
        /*outline: 1px solid red;*/
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            position: absolute;
            transform: rotate(-45deg);
            display: block;
            top: 24px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
        }
    }
}

.myInput {
    width: 100%;
    margin-bottom: 20px !important;

}

.iconEye {

}

.wrapThemeSubmitLeng {
    width: 100%;
    justify-content: center;
}

.blockButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
        min-width: 100%;
    }
}

.blockLenTheme {
    /*outline: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}