@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color) !important;
    transition: color 500ms linear;
    /* Стилизация полосы прокрутки */

    &::-webkit-scrollbar {
        width: 3px; /* Ширина полосы прокрутки */
    }

    &::-webkit-scrollbar-track {
        /*background: #f1f1f1; !* Цвет фона полосы прокрутки *!*/
        background: var(--background-color); /* Цвет фона полосы прокрутки */
    }

    &::-webkit-scrollbar-thumb {
        background: #888; /* Цвет бегунка полосы прокрутки */
        border-radius: 4px; /* Скругленные края бегунка */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Цвет бегунка полосы прокрутки при наведении */
    }
}

html {
    height: 100%;
}

body {
    min-width: 375px;
    height: 100%;
    font-family: 'Poppins', 'sans-serif';
    background-color: var(--background-color) !important;
    font-size: 14px;
    /*overflow-x: hidden;*/
    /*background-color: var(--background-color) !important;*/
    /*transition: background-color 200ms linear;*/
    /*height: 100vh;*/
    /*font-family: 'Poppins', 'sans-serif';*/
}

/*typography*/
h1 {
    font-size: 40px !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 35px !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 30px !important;
    font-weight: 500 !important;
}

h4 {
    font-size: 35px !important;
    font-weight: 500 !important;
}

p {
    font-size: 20px !important;

}

.css-1wc848c-MuiFormHelperText-root.Mui-error {
    color: #d32f2f !important;
}

/*typography*/
#root {
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

/*.wrapperLoader {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    backdrop-filter: blur(10px);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*background-color: red;*!*/
/*    z-index: 10000;*/
/*    overflow: hidden;*/
/*}*/

.App {
    min-height: 100%;
    height: auto;
    width: 100%;
    max-width: 1400px;
    /*align-self: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*box-shadow: var(--box-shadow);*/
    /*border-radius: var(--border-radius5);*/
}

html[data-theme='dark'] {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(18, 18, 18);
    --icon-color: rgba(255, 255, 255);
    --border-color: rgba(255, 255, 255, 0.8);
    --box-shadow: 1px 1px 10px #eee5e580;
    --border-radius5: 5px;
    --border-radiou12: 12px;
    --hover-color: rgba(86 , 86, 86, 0.45);
}

html[data-theme='light'] {
    --text-color: rgba(0, 0, 0, 0.87);
    --background-color: rgb(255, 255, 255);
    --icon-color: rgba(0, 0, 0, 0);
    --border-color: rgba(0, 0, 0, 0.23);
    --box-shadow: 1px 1px 10px #00000080;
    --border-radius5: 5px;
    --border-radius12: 12px;
    --hover-color: rgba(86 , 86, 86, 0.45);
}

html[data-theme='tomato'] {
    --text-color: rgb(0, 0, 0);
    --background-color: #ff6347;
    --icon-color: rgba(255, 255, 255);
    --border-color: rgba(0, 0, 0, 0.23);
    --box-shadow: 1px 1px 10px #00000080;
    --border-radius5: 5px;
    --border-radius12: 12px;
    --hover-color: rgba(86 , 86, 86, 0.45);
}

/**{*/
/*    --text-color: rgb(0, 0, 0);*/
/*    --background-color: #ff6347;*/
/*    --icon-color: rgba(255, 255, 255);*/
/*    --border-color: rgba(0, 0, 0, 0.23);*/
/*}*/
.App {
    & .css-1h241iz {
        width: 100%;
        height: auto;
        max-height: unset;
        min-height: auto;
    }
}

